<div>
  <h1>Thêm cuốn sách mới</h1>
  <form [formGroup]="bookForm" (ngSubmit)="submit()">
    <table>
      <tr>
        <td>Tên:</td>
        <td><input type="text" formControlName="title" required=""></td>
        <br>
        <span *ngIf="bookForm.controls.title.invalid" class="errorMessage">*Cần phải nhập tên</span>
      </tr>
      <tr>
        <td>Tác giả:</td>
        <td><input type="text" formControlName="author" required=""></td>
        <br>
        <span *ngIf="bookForm.controls.author.invalid" class="errorMessage">*Cần phải nhập tác giả</span>
      </tr>
      <tr>
        <td>Mô tả</td>
        <td><input type="text" formControlName="description" required=""></td>
        <br>
        <span *ngIf="bookForm.controls.description.invalid" class="errorMessage">*Cần phải nhập mô tả</span>
      </tr>
      <tr>
        <td></td>
        <td><button pButton type="submit" [disabled]="!bookForm.valid" label="Thêm sách"></button></td>
        <td><button routerLink="/book/list" pButton type="button" label="Thoát"></button></td>
      </tr>
    </table>
  </form>

</div>



